div {
    height: 100px;
    width: 100px;
}

.static{
    background-color: gray;
}

.absolute{
    background-color: pink;
    left: 50px;
    top: 50px;
    position: absolute;
}

.relative{
    background-color: yellow;
    left: 50px;
    top: 50px;
    position: relative ;
}

.fixed{
    background-color: lightblue;
    left: 200px;
    top: 50px;
    position: fixed;
}

.relative2{
    background-color: green;
    left: 200px;
    top: 20px;
    position: relative;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-right: 90px;

}

.absolute2{
    background-color: purple;
    left: 30px;
    top: 30px;
    position: absolute;
}
