html, body{
    height: 100%;
    border: solid 1px black;

}

.footer{
    grid-area: f;
}

.aside{
    grid-area: a;
}

.header{
    grid-area: h;
}

.main{
    grid-area: m;
}

.nav{
    grid-area: n;
}

.grid>*{
    border: solid 1px black;
}


@media only screen and (max-width: 600px){
    .grid {
        display: grid;
        grid-template-areas:
        'h'
        'n'
        'm'
        'f';
        background-color: tomato;
        height: 100%;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .aside{
        display: none;
    }
}

@media only screen and (min-width: 600px){
    .grid {
        display: grid;
        grid-template-areas:
        'h'
        'n'
        'm'
        'a'
        'f';
        background-color: cornflowerblue;
        height: 100%;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px){
    .grid {
        display: grid;
        grid-template-areas:
        'h h'
        'm m'
        'n a'
        'f f ';
        background-color: dimgray;
        height: 100%;
        grid-template-columns: 4fr 4fr;
    }
}

@media only screen and (min-width: 992px){
    .grid {
        display: grid;
        grid-template-areas:
        'h h h'
        'n m a'
        'n m a'
        'f f a';
        background-color: lightpink;
        height: 100%;
        grid-template-columns: 1fr 7fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-areas:
        'h h h'
        'n m a'
        'n m a'
        'f f a';
        background-color: yellow;
        height: 100%;
        grid-template-columns: 1fr 7fr 1fr;
    }
}